:root {
  /* Kolory */
  --cream: #d7cec7;
  --dark-gray: #565656;
  --dirty-red: #76323f;
  --yellow :#c09f80;

  /* Fonty */
  --font: 'Alegreya';
  --font-small: 1.4rem;
  --font-normal: 1.6rem;
  --font-bigger: 1.8rem;

  /* Bordery */
  --border-radius: 0.3rem;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: var(--font);
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5rem 0;
}

.confirm-delete {
  animation: confirm .5s ease-in-out forwards;
  background-color: var(--dirty-red);
  border-radius: var(--border-radius);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 50%;
  padding: 2rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  width: 28rem;
  z-index: 1;
}

.confirm-delete h3 {
  color: var(--cream);
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.confirm-btn {
  background-color: var(--cream);
  border: none;
  border-radius: var(--border-radius);
  color: var(--dark-gray);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: bold;
  outline-color: var(--yellow);
  padding: 1rem 2rem;
  text-transform: uppercase;
  width: 45%;
}

.tasks-box {
  align-items: center;
  background-color: var(--dark-gray);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
}

.title, .sub-title {
  color: var(--yellow);
  line-height: 1;
  text-align: center;
}

.title {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.task-label {
  color: var(--cream);
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: center;
}

.task-input {
  background-color: var(--cream);
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-small);
  height: 4rem;
  outline-color: var(--yellow);
  padding: 1rem 2rem;
  width: 96%;
}

.add-task, .delete-all-tasks, .update-task {
  border: none;
  border-radius: var(--border-radius);
  color: var(--cream);
  cursor: pointer;
  font-size: 2rem;
  font-weight: bold;
  outline: none;
  padding: 1rem 0;
  text-transform: uppercase;
  width: 96%;
}

.add-task, .update-task {
  background-color: var(--yellow);
  color: var(--dark-gray);
  margin-top: 2rem;
}

.h-line {
  border-top: 1px solid var(--yellow);
  border-bottom: none;
  margin: 5rem 0 3rem;
  width: 100%;
}

.sub-title {
  font-size: 3.8rem;
}

.tasks-list {
  display: grid;
  grid-row-gap: 1.5rem;
  list-style-type: none;
  padding: 2rem 1rem 0;
  width: 100%;
}

.task-wrapper {
  align-items: center;
  animation: taskMove .7s ease-in-out forwards;
  display: flex;
  flex-direction: column;
}

.task {
  align-items: center;
  background-color: var(--cream);
  border: none;
  border-radius: var(--border-radius);
  display: grid;
  font-size: var(--font-small);
  grid-template-columns: auto 1fr repeat(2, auto);
  justify-content: center;
  width: 100%;
}

.task-id {
  font-size: var(--font-normal);
  line-height: 1;
  padding: 0 1.5rem;
  position: relative;
  text-align: center;
}

.task-id::after {
  background-color: var(--dark-gray);
  content: '';
  height: 30px;
  right: 0;
  position: absolute;
  top: -6px;
  width: 1px;
}

.task-text {
  font-size: var(--font-small);
  padding: 1rem;
}

.task-edit, .task-delete {
  background-color: transparent;
  border: none;
  color: var(--dark-gray);
  font-size:  var(--font-normal);
  line-height: 1;
  outline: none;
  padding: 0 1.2rem;
  position: relative;
}

.svg-inline--fa path {
  cursor: pointer;
}

.task-edit::before, .task-delete::before {
  background-color: var(--dark-gray);
  content: '';
  height: 30px;
  left: 0;
  position: absolute;
  top: -6px;
  width: 1px;
}

.task-date {
  color: var(--yellow);
  font-size: var(--font-small);
}

.delete-all-tasks {
  background-color: var(--dirty-red);
}

.footer {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.alert {
  animation: alert .5s ease-in-out forwards;
  background-color: var(--dirty-red);
  border-radius: var(--border-radius);
  color: var(--cream);
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
  width: 96%;
}

/* Kluczowe klatki animacji */
@keyframes alert {
  0% {
    transform: scale(.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes taskMove {
  0% {
    transform: translate(-1000px);
    opacity: 0;
  }
  50% {
    transform: translate(20px);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes confirm {
  0% {
    transform: scale(0) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.1) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}

/* Media Queries */
@media screen and (min-width: 530px) {
  .tasks-box {
    padding: 5rem 5rem;
  }
  
  .task-input {
    font-size: var(--font-normal);
    width: 100%;
  }

  .add-task, .update-task {
    width: 50%;
  }
  
  .tasks-list {
    padding: 2rem 0 0;
  }

  .task {
    font-size: var(--font-normal);
  }

  .task-id {
    font-size: var(--font-bigger);
  }

  .task-text {
    font-size: var(--font-normal);
    padding: 1rem;
  }

  .task-edit, .task-delete {
    font-size: var(--font-bigger);
  }

  .task-date {
    color: var(--yellow);
    font-size: var(--font-normal);
  }

  .delete-all-tasks, .alert {
    font-size: 2.5rem;
    width: 100%;
  }
}